/* For phones */
@media (max-width: 600px) {
  .logo {
    position: absolute;
    top:0px;
    left:0px;
    width: 100px;
    height: 50px;
  }
}

/* For tablets */
@media (min-width: 600px) and (max-width: 900px) {
  /* Adjust font sizes */
  .logo {
    position: absolute;
    top:0px;
    left:0px;
    width: 150px;
    height: 75px;
  }
  
}

/* For desktops */
@media (min-width: 900px) {
  /* Adjust font sizes */
  .logo {
    position: absolute;
    top:0px;
    left:0px;
  }
  
 
}


.main {
  padding: 6rem;
  min-height: 100vh;
  background-color: #DEECF6;
  height: 100%;
  color: black;
}

.title1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  text-decoration: none;
  transition: text-decoration 0.5s ease;

}

.title1:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  
}


.title2 {
  font-family: 'Italiana', serif;
   font-size: 64px;
  
}

.headshot {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;

}

.headshot:hover {
  filter: grayscale(0%);
}

.topcont {
  display: flex;
  justify-content: center;
  margin: 80px;
  
}

.titlecont{
  padding-right: 90px;
}

.logo {
  position: absolute;
  top:0px;
  left:0px;
}

.line {
  height: 1px;
  background-color: #000;
  border: none;
  margin: 20px 0;
}

.projecttitle{
  font-family:'Italiana', serif;
  font-size: 50px;
  padding-bottom: 3px;

}

.projectdesc {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}

.projectlongdesc {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
 
}

.projectdesc1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
  

}

.projectcont {
  display: flex;
  justify-content: space-between;
}

.projectcont .projectdesc {
  opacity: 0;
}

.projectcont:hover .projectdesc {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.projectkey {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 5px;
  
}

.projectcont .projectkey {
  opacity: 0;
}

.projectcont:hover .projectkey {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.picture {
  padding-top: 80px;
}


.mainpicture {
  padding-top: 80px;
  

}
.arrow {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.projectcont:hover .arrow {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.projectcont .projectdesc1 {
  opacity: 0;
}

.projectcont:hover .projectdesc1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.connect {
  font-family: 'Italiana', serif;
  font-size: 60px;
  padding-top: 140px;
}

.connectdesc {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 300px;

}

.social {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  
}

.socialcont {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 50px;
  
}

.line1 {
  height: 1px;
  width: 400px;
  background-color: #000;
  border: none;
  margin: 20px 0;
}

.socialcont1 {
  display: flex;
}

.arrow1{
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.socialcont1:hover .arrow1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.infocont {
  display:flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 1000;
 

}

.itemcont {
  display:flex;
  flex-direction: column;

}

.info {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  font-weight: 200;
  width: 190px;

}

.info1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  font-weight: 200;
 

}

.title3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  padding-top: 20px;
}

.title4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  padding-top: 20px;
}

.num {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 80px;
}

.num1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 650px;
}
.num3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 250px;
}


.title5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  padding-top: 250px;
}

.desc1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-top: 20px;
  font-weight: 200;
  display: block;
  width: 450px;
  float: right;

}

.sec1cont{
 display: flex;
 
}

.infocont1{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 80px;
  padding-left: 80px;
 

}

.infotitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 1000;
  text-align: center;
  padding-top: 20px;
}

.info2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
 
  font-weight: 200;
  
 

}

.colortitle {

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 1000;
  padding-top: 300px;

}

.colortitle1 {

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 1000;
  padding-top: 90px;


}

.colortitle2 {

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-top: 90px;


}

.color1{
  background-color: #126B8A;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.colorcont {
  display: flex;
  justify-content: space-evenly;
  
}

.color2 {
  background-color: #00ADC3;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color3 {
  background-color: #EDC81B;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color4 {
  background-color: #DC2228;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color5 {
  background-color: #4FCD92;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color6 {
  background-color: #0A0908;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}
.color7 {
  background-color: #2D2D2A;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color8 {
  background-color: #B5B5B5;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}
.color9 {
  background-color: #E1E1E1;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: BLACK;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}
.color10 {
  background-color: #F7F5F3;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: BLACK;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color11 {
  background-color: #E3974F;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color12 {
  background-color: #D4E6B5;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.color13 {
  background-color: #F7F7F3;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
  padding-top: 75px;
  margin-top: 30px;
}

.fontimg {
  
  padding-top: 100px;
}

.vid {
  margin-top: 200px;
}

.vidcont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
}


.titlecont1{
  padding-right: 90px;
  padding-top: 200px;
}

.nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-right: 15px;
  font-weight: 1000;
}

.nav:hover {
  text-decoration: underline;
}

.navcont{
  position: absolute;
  top:35px;
  right:35px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 20px;;
}

.smalltitle1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 5px;;
}
.smalltitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 10px;
}

.line2 {
  height: 1px;
  background-color: #000;
  border: none;
  margin: 20px 0;
  width: 600px;
}

.rotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logodesigncont {
  display: flex;
  flex-direction: column;
}

.imagegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.fontimg1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 20px;
}

.magbutton{
  color: black;
  background-color: #DEECF6;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 250px;
  height: 50px;
  border-color: black;
  border-width: 1px;
  position: relative;
  left: 500px;
  right: 500px;
  
  
}

.proofimg {
  padding-top: 20px;
}

.proofimgcont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proofimgcont1 {
  display: flex;
  align-items: center;
}