.main {
  padding: 6rem;
  min-height: 100vh;
  background-color: #DEECF6;
  height: 100%;
  color: black;
}

.title1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  text-decoration: none;
  transition: text-decoration 0.5s ease;

}

.title1:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  
}


.title2 {
  font-family: 'Italiana', serif;
   font-size: 64px;
  
}

.headshot {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;

}

.headshot:hover {
  filter: grayscale(0%);
}

.topcont {
  display: flex;
  justify-content: center;
  margin: 80px;
  
}

.titlecont{
  padding-right: 90px;
}

.logo {
  position: absolute;
  top:0px;
  left:0px;
}

.line {
  height: 1px;
  background-color: #000;
  border: none;
  margin: 20px 0;
}

.projecttitle{
  font-family:'Italiana', serif;
  font-size: 50px;
  padding-bottom: 3px;

}

.projectdesc {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
  

}
.projectdesc1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
  

}

.projectcont {
  display: flex;
  justify-content: space-between;
}

.projectcont .projectdesc {
  opacity: 0;
}

.projectcont:hover .projectdesc {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.projectkey {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 5px;
  
}

.projectcont .projectkey {
  opacity: 0;
}

.projectcont:hover .projectkey {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.picture {
  padding-top: 80px;
}

.arrow {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.projectcont:hover .arrow {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.projectcont .projectdesc1 {
  opacity: 0;
}

.projectcont:hover .projectdesc1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.connect {
  font-family: 'Italiana', serif;
  font-size: 60px;
  padding-top: 140px;
}

.connectdesc {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 300px;

}

.social {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  
}

.socialcont {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 50px;
  
}

.line1 {
  height: 1px;
  width: 400px;
  background-color: #000;
  border: none;
  margin: 20px 0;
}

.socialcont1 {
  display: flex;
}

.arrow1{
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.socialcont1:hover .arrow1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}